{% extends "base.html" %}
{% block title %}Member list{%endblock%}
{% block main %}
<h1>Hula - Hackeriet member site</h1>

<h3>Components</h3>
<ul>
  <li><a href="https://microdisko.no/brus/">Oversiktsbilde brussalg</a></li>
  <li><a href="{% url "memberlist" %}">Member list</a></li>
  <li><a href="{% url "dooraccess" %}">Access tokens for doors (json)</a> (internal)</li>
  <li><a href="{% url "unixaccount" %}">UNIX users (json)</a> (internal)</li>
</ul>

<h3>Manage</h3>
 <ul>
    <li><a href="https://microdisko.no/brus/account">KRAVCOIN</a> (login required)</li>
     <li><a href="/hula/admin/member/member/">Member administration</a></li>
     <li><a href="/hula/admin/member/physicalaccess/">Non-member access cards</a></li>
  </ul>

{%endblock%}
